@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://cdn.syncfusion.com/ej2/20.1.55/material.css");
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@theme {
    --font-mulish: "Mulish", sans-serif;
}



